<h2>List</h2>

<div class="mb-3">
  <label>Data:
    <input class="rounded-left" #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button class="rounded-right" (click)="add(heroName.value); heroName.value=''"> add </button>
</div>

<ul class="list-group data-list">
  <li class="list-group-item d-flex justify-content-between rounded" *ngFor="let data of heroes">
    <a routerLink="/detail/{{data.id}}">
      <span class="badge">{{ data.id }}</span> {{ data.name }}
    </a>
    <button type="button" title="delete" class="close pull-right rounded-right" aria-label="Close" (click)="delete(data)">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
</ul>